html,
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
p,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

html,
body {
  max-width: 100%;
  font-family: "Dosis", sans-serif;
}

.nav a,
.lang a {
  color: white;
}

/***HEADER + NAVIGATION***/

.line_1,
.line_2 {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 15px;
}

.el_1,
.el_3,
.el_2 {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 40%;
  height: 10px;
  background-color: rgba(2, 184, 191, 1);
}

.el_2 {
  background-color: rgba(25, 144, 206, 1);
  left: 30%;
}

.el_3 {
  background-color: rgba(7, 188, 131, 1);
  width: 30%;
  left: 70%;
}

#header_white {
  display: flex;
  max-height: 140px;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: row;
  align-content: flex-start;
}

.logo_area {
  width: 85%;
  display: inline-flex;
  flex-direction: row;
  height: 400px;
}

.logo img {
  order: 1;
  width: auto;
  max-height: 140px;
  align-self: flex-start;
  padding-left: 100px;
  padding-right: 15px;
}

.head_left {
  order: 1;
  width: 100%;
  align-self: flex-start;
  margin-top: 40px;
}

.head_left img {
  width: 55%;
  height: auto;
}

.head_right {
  order: 2;
  width: 40%;
  /*align-self: flex-end;*/
  margin-right: 150px;
  margin-top: 5%;
  padding-bottom: 20px;
}

h6 {
  color: rgba(25, 144, 206, 1);
  font: normal normal normal 28px/1.6em "Dosis", sans-serif;
  top: 20px;
}

.hamburger {
  display: none;
}

.head_right p {
  color: rgba(25, 144, 206, 1);
  align-self: flex-end;
  width: 100%;
  text-align: right;
  font: normal normal bold 1.2em "Dosis", sans-serif;
  letter-spacing: 1px;
}

#nav_bar_container {
  display: block;
  width: 100%;
  height: 35px;
  z-index: 9999;
  position: relative;
}

.nav_bar {
  display: flex;
  background-color: rgba(95, 95, 95, 0.65);
  height: 35px;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
}

.nav {
  display: inline-flex;
  margin: 0px;
  padding-left: 245px;
}

.lang {
  display: inline-flex;
  margin: 0px;
  padding-right: 150px;
}

.li,
.li_1 {
  display: inline-block;
  padding: 10px 10px 5px;
}

.active {
  background-color: rgb(25, 134, 192);
  /*margin-right: -5px;
  margin-left: -5px;*/
}


.li a:hover {
  color: rgb(250, 250, 250);
  height: 18px;
}

/***SIDEBAR***/

.side_bar_container {
  display: block;
  position: fixed;
  height: 190px;
  width: 12vw;
  top: 0;
  margin: 20% 0px auto 0;
  left: 85%;
  z-index: 9999;
}

.side_bar {
  display: block;
  float: right;
  height: 220px;
  width: 100px;
  padding: 0.5vw;
  margin: 20% 0px auto 0;
  background-color: rgb(250, 250, 250, 0.5);
  /*filter:alpha(opacity=50); /* IE */
  /*z-index moz-opacity:0.5; /* Mozilla */
  /*opacity: 0.5; /* CSS3 */
}

.side_bar a:link {
  text-decoration: none;
  display: inline-block;
  color: #083045;
  width: 90px;
  height: 25px;
  padding: 3px 13px 3px 3px;
  font-size: 16px;
  text-align: right;
  border-bottom: 1px solid rgb(250, 250, 250, 0.5);
}

.side_bar a:visited {
  display: block;
  color: #083045;
  width: 90px;
  height: 25px;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(250, 250, 250, 0.5);
  padding-right: 10px;
}

.side_bar a:hover {
  display: block;
  color: #083045;
  background-color: rgb(250, 250, 250);
  width: 90px;
  height: 25px;
  border-bottom: 1px solid #083045;
  padding-right: 10px;
}

.side_bar a:active {
  display: block;
  color: #083045;
  width: 90px;
  height: 25px;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid #083045;
  padding-right: 10px;
}

/*animations*/

/*.left, .right {
    position: relative;
    height: 23px;
    transition: left 0.4s;
}

.left{
    left: 180px;
}

.sb:hover .left{
    left: -10px;
}

.right{
    left: -10px;
}

.sb:hover .right{
    left: 180px;
}*/

/***IMG + OVERLAY***/

.wrapper {
  width: 100%;
  height: 842px;
  /*background-color: rgba(111, 111, 111, 0.5);
    background-image: url("../images/ord1.jpg");*/
  background-position: center;
  margin-top: -35px;
  /*z-index: -1000;*/
}

.nav_2 {
  position: relative;
  top: -280px;
  max-width: 980px;
  height: 280px;
  margin: 0 auto;
}

.rpr,
.gll {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 270px;
}

.rpr a {
  position: relative;
  top: 100px;
}

#rpr_1,
#gll_1 {
  background-color: rgba(2, 184, 191, 0.5);
  border-bottom: 10px solid rgba(2, 184, 191, 1);
  left: 0.5%;
}

#rpr_2,
#gll_2 {
  background-color: rgba(25, 144, 206, 0.5);
  border-bottom: 10px solid rgba(25, 144, 206, 1);
}

#rpr_3,
#gll_3 {
  background-color: rgba(7, 188, 131, 0.5);
  border-bottom: 10px solid rgba(7, 188, 131, 1);
  left: -0.5%;
}

h5 {
  text-align: center;
  color: white;
}

.rh_1 {
  font: normal normal normal 1.8em "Dosis", sans-serif;
  width: 99%;
}

.rh_2 {
  font: normal normal bold 1.8em "Dosis", sans-serif;
  width: 99%;
}

.rh_3 {
  display: none;
  font: normal normal bold 1.8em "Dosis", sans-serif;
  width: 99%;
}

/***CONTENT***/

.content {
  width: 100%;
}

.cnt_1,
.cnt_2,
.cnt_3,
.cnt_4,
.cnt_5,
.cnt_6 {
  width: 100%;
  height: auto;
}

#section-usluge {
  background-image: url("../images/office/9,1.jpg");
  display: block;
  height: auto;
}

#section-tim {
  background-image: url("../images/office/team_bg.jpg");
  display: block;
  height: auto;
}

/*#smile_photo {
    background-image: url("../images/textBackgrounds/background3.jpg");
    /*z-index: -1000;*/

/*display: flex;
    width: 100%;
    min-height: auto;
    height: 350px;
    background-repeat: no-repeat;
    
}*/

.parallax-window {
  display: flex;
  min-height: 500px;
  background: transparent;
  height: auto;
  padding-bottom: 30px;
  /*background-image: url("../images/textBackgrounds/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*#section-usluge div {
    /*display: flex;*/

/*height: fit-content;
}*/

.block {
  width: 980px;
  height: inherit;
  margin: 0 auto;
}

.pricelist {
  text-align: center;
  font-size: 1.3em;
}

.span {
  height: 1px;
  width: 100%;
  background-color: inherit;
}

h2 {
  display: block;
  width: 100% !important;
  font: normal normal bold 70px/1.4em "Dosis", sans-serif;
  color: rgba(25, 144, 206);
  text-align: center;
  margin: 50px auto 0 auto;
}

.cnt_1 {
  height: 620px;
}

.cnt_1 p {
  width: 800px;
  margin: 30px auto 0 auto;
  font: normal normal normal 1.3em "Dosis", sans-serif;
  color: rgba(25, 144, 206);
  text-align: justify;
}

.cnt_2 {
  height: auto;
}

.cnt_2 h2,
.cnt_3 h2 {
  color: white;
}

.usluge {
  display: flex;
  width: 100%;
  flex-direction: column;
  /*align-items: center;*/
  padding: 2vw;
  margin: 0px;
  align-self: center;
}

#opsta,
#estetska,
#endodoncija,
#protetika,
#parodontologija,
#ortodoncija,
#hirurgija,
#fileri {
  width: 100%;
  height: auto;
  background-color: rgba(250, 250, 250, 0.1);
  padding-bottom: 2vw;
  margin-bottom: 3vw;
}

.usluge h6 {
  color: white;
  size: 1.3vw;
  letter-spacing: 0.5px;
  text-align: center;
}

.usluge p,
.opsirno p {
  color: white;
  height: auto;
  size: 1.25vw;
  letter-spacing: 0.3px;
  font-weight: lighter;
  text-align: justify;
  position: unset;
  padding: 0px 3vw;
  line-height: 22px;
}

p.podnaslov {
  color: rgb(207, 207, 207);
  margin-bottom: 20px;
  letter-spacing: 0.3px;
  text-align: center;
}

.more-icon {
  color: rgb(128, 208, 252);
  font-size: 1vw;
  border: none;
  cursor: pointer;
  font-style: italic;
  background-color: rgba(25, 144, 206, 0) !important;
  margin: 0px;
}

button {
  outline: none;
  -moz-outline-style: none;
  outline-style: none;
  outline: 0;
  font-family: "Dosis" sans-serif;
  size: 1.1vw;
  align-self: flex-end;
  background-color: rgba(25, 144, 206, 0) !important;
  overflow: visible;
  text-transform: none;
}

#protetika_opsirno > p > a {
  color: rgb(128, 208, 252) !important;
}

button :hover,
#protetika_opsirno > p > a:hover {
  color: white !important;
}

.usluge_slike {
  display: inline-flex;
  align-self: center;
  padding-top: 2vw;
  margin-left: 3vw;
}

.usluge_slike img {
  padding-right: 15px;
  width: auto;
  height: 120px;
}

.height img {
  height: 180px;
}

.hirurgija img {
  height: 150px;
}

.fileri img {
  height: 180px;
}

.opis_slike,
.opis_slike_fullscreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3vw;
}

.responsive_opis_slike {
  display: none;
}

.right_padding {
  margin-right: 3vw;
}

.srvc {
  display: flex;
  width: inherit;
  height: auto;
  margin-top: 50px;
  flex-direction: column;
  align-self: center;
  z-index: 999999;
}

#section-usluge {
  height: auto;
}

#section-cenovnik {
  background-color: white;
  height: auto;
}

.srvc_l,
.srvc_r {
  display: inline-block;
  width: 480px;
  height: 160px;
  background-color: rgba(256, 256, 256, 0.1);
  float: left;
  margin-top: 20px;
}

.srvc_r {
  float: right;
}

.srvc_l h6,
.srvc_r h6 {
  text-align: center;
  color: white;
  margin: 25px 0px 5px;
}

.cnt_6 h6,
.cnt_6 p {
  color: rgb(49, 49, 49);
  letter-spacing: 0.5px;
}

.cnt_6 {
  height: 980px;
}

.shld {
  display: block;
  width: inherit;
  height: 980px;
  margin: 0 auto;
  padding-bottom: 2vw;
}

#pregled {
  height: 60px;
}

#bolest {
  height: 470px;
}

#estetska1 {
  height: 180px;
}

#paradont {
  height: 170px;
}

#decja {
  height: 160px;
}

#oralna {
  height: 114px;
}

#protetika1 {
  height: 480px;
}

#hijaluron {
  height: 130px;
}

.dot,
.dot_2 {
  height: 18px;
  border-bottom: 1px dotted gray;
  margin: 2px auto 0 auto;
  width: 450px;
}

.dot_2 {
  height: 36px;
}

.shld .pp_l,
.shld .pp_l2,
.shld .pp_r,
.shld .pp_r2 {
  display: block;
  width: 346px;
  float: left;
  text-align: left;
  margin: 0;
}

.shld .pp_l2 {
  width: 300px;
}

.shld .pp_r,
.shld .pp_r2 {
  width: 90px;
  float: right;
  text-align: right;
}

.shld .pp_r2 {
  width: 120px;
}

/***TEAM***/

.cnt_3 {
  height: 600px;
}

#section-tim {
  display: flex;
  flex-direction: column;
}

.block_team {
  display: flex;
  flex-direction: row;
}

#section-tim > div:nth-child(1) {
  display: flex;
}

.cnt_3 h2 {
  display: flex;
  position: unset;
  top: 50px;
  letter-spacing: 1px;
  justify-content: center;
  height: auto;
  width: 100%;
}

.dr {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  margin-top: 30px;
  align-self: flex-start;
  margin-left: 100px;
}

.dr h6 {
  color: white;
  text-align: center;
  width: 220px;
  margin-left: 100px;
}

.pic_1,
.pic_2 {
  width: 222px;
  height: auto;
  margin: 50px auto 0 100px;
  border-bottom: 8px solid rgba(2, 184, 191, 1);
}

.pic_2 {
  border-bottom: 8px solid rgba(7, 188, 131, 1);
}

.biografija {
  display: inline-flex;
  width: 60%;
  margin-top: 100px;
  padding-right: 20px;
}

.biografija p {
  display: flex;
  flex-grow: 2;
  width: 75%;
  color: white;
  letter-spacing: 1px;
  text-align: justify;
  margin-right: 15%;
  margin-top: -1em;
  padding-bottom: 2em;
  font-size: 1.2em;
}

/***GALLERY***/

.gallery {
  display: flex;
  padding: 7vw 8vw;
  flex-direction: column;
  height: 850px;
  align-items: center;
}

.gallery-responsive {
  width: 100%;
  order: 2;
}

.gallery h2 {
  margin-top: 0px;
  padding-bottom: 3vw;
  order: 1;
}

.gallery-photos {
  order: 2;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 80%;
  margin-left: 13%;
}

.big_picture {
  width: 420px;
  height: auto;
}

.small_picture {
  width: 200px;
  height: auto;
}

.gallery-photos img {
  padding: 5px;
}

.gallery01-1 {
  width: 500px;
  flex-flow: wrap;
}

.gallery02 {
  width: 210px;
}

/***CONTACT***/

.cnt_5 {
  height: 1050px;
}

.cnt_5 .block {
  margin-top: 80px;
  height: 820px;
}

.adr,
.wrk {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 240px;
  text-align: center;
  letter-spacing: 0.5px;
}

.adr {
  top: -25px;
}

.wrk {
  top: 20px;
}

.vl {
  position: relative;
  top: 0;
  display: inline-block;
  width: 1px;
  height: 240px;
  background-color: gray;
}

.adr h6,
.wrk h6 {
  top: 0;
  color: rgb(49, 49, 49);
}

.adr a {
  color: rgb(49, 49, 49);
}

.adr p,
.wrk p {
  font: normal normal normal 1.1em "Dosis", sans-serif;
  color: rgb(49, 49, 49);
  margin-top: 10px;
}

.fb {
  width: 980px;
}

.fb a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px 0 0 46.77%;
}

.fb img {
  width: 50px;
  height: 50px;
}

.map {
  display: inline-block;
  height: 370px;
  width: 100%;
  margin-top: 80px;
}

.bottom_bar {
  height: 10px;
}

.line_2 {
  height: 10px;
}

.line_2 .el_1,
.line_2 .el_2,
.line_2 .el_3 {
  height: 10px;
}

/*---------MODALS------------*/

.modalDialog {
  position: fixed;
  font-family: "Dosis", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(222, 222, 222, 0.75);
  z-index: 999999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 50%;
  height: 366px;
  position: relative;
  margin: 0 auto;
  padding: 5px 20px 13px 20px;
  background: rgba(255, 255, 255, 1);
  float: right;
}

.close {
  display: block;
  background: white;
  color: #333333;
  font-size: 1.1em;
  line-height: 36px;
  position: absolute;
  right: 2%;
  text-align: center;
  top: 12px;
  width: 36px;
  border-radius: 18px;
  margin-right: 6%;
  text-decoration: none;
  z-index: 9999999;
}

.close:hover {
  background: #333333;
  color: white;
}

.nav_4 {
  display: block;
  position: relative;
  width: 100%;
  top: 55px;
}

.li_1 {
  display: block;
  border-bottom: 0.5px solid #a8a8a8;
}

.li_1 a {
  color: #333333;
}

.li:hover {
  color: white;
  background: #333333;
}
